@font-face {
    font-family:"Mona Sans";
    src: url("../fonts/MonaSans/MonaSans-Regular.ttf")format("truetype");
    font-weight: 400;
}
@font-face {
    font-family:"Mona Sans Medium";
    src: url("../fonts/MonaSans/MonaSans-Medium.ttf")format("truetype");
}
@font-face {
    font-family:"Mona Sans Bold";
    src: url("../fonts/MonaSans/MonaSans-Bold.ttf")format("truetype");
}
@font-face {
    font-family:"Mona Sans SemiBold";
    src: url("../fonts/MonaSans/MonaSans-SemiBold.ttf")format("truetype");
}